body {
  background: linear-gradient(135deg, #ff00ff, #00ffff);
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}


.App {
  text-align: center;
  padding: 20px;
}

.input-form {
  margin: 20px 0;
}

input[type="datetime-local"] {
  padding: 10px;
  font-size: 1rem;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
   background: rgba(255, 255, 255, 0.3);
   border-color: aliceblue;
}
.timer{
  color: #b304b3;
}
.h{
  color: aliceblue;
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 10px;
  
}

.countdown div {
  background: linear-gradient(135deg, #f2acf2, #00ffff);
  border-radius: 10px;
  padding: 20px;
  color: white;
  font-size: 1.5rem;
}
